* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.section {
    width: 100%;
}
.divs {
    display: flex;
}
.section-title {
    margin-left: 100px;
    margin-top: 60px;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #333333;
}
.section-text {
    margin-left: 50px;
    margin-top: 30px;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 54px;
    color: #000000;
    width: 790px;
    line-height: 65px;
}
.course {
    display: flex;
}
.section-text2 {
    margin-left: 100px;
    margin-top: 50px;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    width: 220px;
    color: #333333;
}
.section-text3 {
    margin-left: 70px;
    margin-top: 50px;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #333333;
    width: 300px;
}
.section-btn {
    margin-left: 50px;
    margin-top: 70px;
    width: 335px;
    height: 78px;
    border-radius: 59px;
    background-color: #5FACA9;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #FFFFFF;
}
.section-money {
    margin-left: 100px;
    margin-top: 30px;
    font-feature-settings: "salt";
    font-weight: 400;
    font-size: 20px;
    color: #000000;
}
.section-img {
    width: 900px;
    height: 500px;
}